*{
	margin: 0%;
	padding: 0%;
}
body{
    overflow-x: hidden;
}
.banner{
	background-image: url(images/Sec1\ Bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 276px;
}
.nav{
	color: white;
	font-family: 'Audiowide', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	margin-left: 15%;
}
.nav-link {
    padding: 0 50px;
}
.logo{
	margin-left:50px;
	margin-right: 50px;
	height: 30px;
	width: 181px;
}
.glass{
  background-color: rgba(255, 255, 255, .15);

}

.head{
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	font-size: 40px;
	padding-top: 15%;
	color: white;
}
.sm{
	font-family: 'Inter';
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 35px;
}
.btn{
	background-color: #E10D45;
	color: white;
}
.bt{
	margin-left: 43%;
	margin-top: 30px;
}
.ab{
	font-family: 'Fredericka the Great', cursive;
	position: absolute;
	width: 411px;
	height: 123px;
	left: 81px;
	top: 898px;
	font-style: normal;
	font-weight: 400;
	font-size: 100px;
	color: white;
    opacity: 0.2;
}
.line{
	position: absolute;
    width: 204px;
    height: 0px;
    left: 512px;
    top: 967.5px;
    opacity: 0.4;
    border: 1px solid #F3F4F4;
}
.ut{
	position: absolute;
	width: 260px;
	height: 61px;
	left: 122px;
	top: 978px;
	font-family: 'Audiowide';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 61px;
	color: #E10D45;
}

#section2{
	background: #1E1E1E;
}
.sec2{
	font-family: 'Inter';
	font-size: 18px;
	color: white;
	text-align: left;
	padding-top: 20%;
	padding-left: 10%;
	padding-bottom: 10%;
}
.sec2 p{
	padding-top: 10%;
}

.sec2 img{
	position: absolute;
}
.sec2i{
	padding-left: 2%;
	padding-top: 1%;
}

.event{
	margin-top: 17%;
	margin-left: 5%;
}

.ev{
	position: absolute;
	width: 307px;
	height: 123px;
	left: 1052px;
	top: 1752px;
	font-family: 'Fredericka the Great';
	font-style: normal;
	font-weight: 400;
	font-size: 100px;
	line-height: 123px;
	text-align: right;
	color: #1E1E1E;
	opacity: 0.2;
}
.evs{
	position: absolute;
	width: 189px;
	height: 61px;
	left: 1128px;
	top: 1832px;

    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
    text-align: right;

    color: #E10D45;
}
.line2{
	position: absolute;
    width: 204px;
    height: 0px;
    left: 828px;
    top: 1821.5px;

    opacity: 0.4;
    border: 1px solid #1E1E1E;
}
.img-fluid{
	padding: 10px;
}
.card h6{
	font-size: 14px;
	margin-left: 4%;
}
.card h1{
	font-size: 18px;
	margin-left: 4%;
}
.card button{

	font-size: 14px;
	margin-left: 4%;
	margin-bottom: 2%;
}

#section3{
	background: #E5E5E5;
	padding-top: 2%;
	padding-bottom: 5%;
}
#section4{
	background: #E5E5E5;
	padding-top: 2%;
	padding-bottom: 5%;

}
.pt{
	position: absolute;
    width: 360px;
    height: 123px;
    left: 81px;
    top: 2448px;

    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 123px;
    /* identical to box height */


    color: #1E1E1E;

    opacity: 0.2;
}

.pt2{
	position: absolute;
width: 332px;
height: 61px;
left: 122px;
top: 2528px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 61px;

color: #E10D45;
}
.line3{
	position: absolute;
width: 204px;
height: 0px;
left: 474px;
top: 2517.5px;

opacity: 0.4;
border: 1px solid #1E1E1E;
}

.sec4{
	margin-top: 20%;
	margin-left: 10%;
}
.sec4 p{
	font-family: 'Inter';
	font-size: 17px;
	color: #1E1E1E;

}
.sec4i{
		margin-top: -40%;	

}
.sec4i2{
		margin-top: -85%;
		margin-left: 2%;	

}
#section5{
	background: #1E1E1E;
	padding-top: 10%;
	padding-bottom: 5%;
}
.cont{
position: absolute;
width: 362px;
height: 123px;
left: 570px;
top: 3126px;

font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 123px;
/* identical to box height */


color: #F3F4F4;

opacity: 0.2;
}

.sch{
	position: absolute;
width: 574px;
height: 61px;
left: 473px;
top: 3206px;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 61px;

color: #E10D45;
}

.rm{
	margin-top: 2%;
}
.frm{
	/*margin-top: 20%;*/
	margin-left: 25%;
	color: white;
	padding-top: 2%;
}
.frm>input[type=text] {
	background-color: transparent;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
	width: 747px;
	border-bottom-color: #E10D45;
}
.frm>input[type=email] {
	background-color: transparent;
	width: 747px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
}
.frm>input[type=number] {
	background-color: transparent;
	width: 747px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
}
.frm>textarea {
	background-color: transparent;
	width: 747px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
}
.frm>input[type=radio]{
	background-color: transparent;
}
.frm>input[type=submit]{
	background-color: transparent;
	border-color: white;
	color: white;
	padding: 5px;
}
#section5 p{
	font-family: 'Inter';
	font-size: 20px;
	color: #F3F4F4;
	text-align: center;
	margin-top: 6%; 
}
.bor{
	border:4px solid #E10D45;
	background-color: #E10D45;
}

.sub{
	padding:20px;
	font-size: 16px;
	margin-top: 5%;
	justify-content: center;
}
.sub p{
	margin-top: 8%;
}
.sub h1{
	font-family: 'Roboto';
	font-size: 16px;
	color: #E10D45;
}
.sub ul,li{
	text-decoration: none;
	list-style: none;
	text-align: left;
	padding: 0px;
}
.subl{
padding-left: 15%;
}
.subp{
	margin-bottom: 5%;
	margin-left: 8%;
}

